* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./img/8da87341292636709d3be352da99fc86.png) repeat-x fixed 0
    100%;
  background-color: #3399fe;
  letter-spacing: 1px;
  color: #fff;
  font-size: 25px;
}
.container {
  display: flex;
}
h3 {
  font-weight: 200;
  font-size: 30px;
  padding: 15px 0 25px 15px;
}

.left {
  background-color: #4da6ff;
  width: 600px;
  height: 750px;
  border-radius: 0 35px 35px 0;
}

h2 {
  font-weight: normal;
  font-size: 50px;
  margin: 20px;
}
button {
  background-color: #2675ca;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  border-radius: 5px;
  height: 45px;
  margin-left: 15px;
}

.login-form > input {
  background-color: #ffff9d;
}

input {
  width: 250px;
  height: 35px;
  border-radius: 14px;
  border: 1px solid #3399fe;
  margin: 15px;
}
label {
  margin-left: 15px;
}
input:focus {
  outline: 0;
  outline-offset: 0;
}
.login-form > button {
  width: 120px;
  margin-left: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.resend-form {
  display: flex;
  flex-direction: column;
}
.resend-form > button {
  width: 250px;
}
.resend-form input {
  padding-left: 15px;
  font-size: 18px;
}
.right {
  width: 100%;
  height: 750px;
}
.join {
  display: flex;
  flex-direction: column;
}
.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.container-join {
  display: flex;
  margin-top: 35px;
}
.radio {
  display: flex;
  flex-wrap: wrap;
}

input[type="password"] {
  width: 200px;
}
input[type="email"] {
  width: 300px;
}
.radio input[type="text"] {
  width: 95px;
}
.radio input[type="radio"] {
  width: 25px;
}
.radio label[for="age"] {
  display: block;
  width: 100%;
}
.radio label[for="male"],
.radio label[for="female"] {
  padding-top: 20px;
}
.register {
  display: flex;
  justify-content: flex-end;
  width: 900px;
}
.register p {
  width: 450px;
  font-size: 16px;
  text-align: right;
  text-indent: 240px;
  margin-top: 7px;
}
.register a {
  color: #fff;
}

.register > button {
  width: 160px;
}
